@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --main-font: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid rgb(200, 200, 200); */
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  max-width: 100%; /* Prevents overflow */
  place-items: center;
  background-image: url(resources/Background_image.svg);
  background-color: #121826;
  color: #e5e7eb;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes up the full viewport height */
}

main {
  flex: 1;
  margin: 7% 3%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

header {
  text-align: center;
  margin: 0 auto;
}

header h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

header p {
  font-weight: 300;
  color: #9da3ae;
}

section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  align-items: center;
}

article {
  background-color: #212936;
  border-radius: 1rem;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: calc(17rem + 2vw);
}

article .emoji-container {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px; /* Match height for vertical centering */
}

article .yellow {
  background-color: #fceed8;
}

article .blue {
  background-color: #dee9fc;
}

article .pink {
  background-color: #fbe5e6;
}

article .emoji {
  font-size: 1.75em;
}

article h2 {
  font-size: 18px;
  font-weight: 500;
}

article p {
  color: #d2d5da;
  margin-right: 20%;
}

article img {
  border-radius: 1rem;
  width: 100%;
}

footer {
  padding: 1rem;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: #9da3ae;
}

.author-info a {
  text-decoration: none;
  color: #3f7ef4;
}

.author-info a:visited {
  color: #dc83f7;
}

@media (min-width: 641px) {
  header {
    width: 400px;
  }

  section {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  article {
    transition: transform 0.2s; /* Animation */
  }

  article:hover {
    transform: scale(1.15);
  }
}

@media (min-width: 1025px) {
  section {
    flex-wrap: nowrap;
  }

  article {
    width: 19rem;
  }

  article:hover {
    transform: scale(1.2);
  }
}
